In [ ]:
#How to import pandas and check the version?
import pandas as pd
pd.__version__

'1.5.3'

In [ ]:
#How to create a series from a list, numpy array and dict?

In [ ]:
#How to convert the index of a series into a column of a dataframe?

In [ ]:
#How to combine many series to form a dataframe?

In [ ]:
#How to assign name to the series’ index?

In [ ]:
#How to get the items of series A not present in series B?

In [ ]:
#How to get the items not common to both series A and series B?

In [ ]:
#How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [ ]:
#How to get frequency counts of unique items of a series?

In [ ]:
#How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [ ]:
#How to bin a numeric series to 10 groups of equal size?

In [ ]:
#How to convert a numpy array to a dataframe of given shape? (L1)

In [ ]:
#How to find the positions of numbers that are multiples of 3 from a series?

In [ ]:
#How to extract items at given positions from a series

In [ ]:
#How to stack two series vertically and horizontally ?

In [ ]:
#How to get the positions of items of series A in another series B?

In [ ]:
#How to compute the mean squared error on a truth and predicted series?

In [ ]:
#How to convert the first character of each element in a series to uppercase?

In [ ]:
#How to calculate the number of characters in each word in a series?

In [ ]:
#How to compute difference of differences between consequtive numbers of a series?

In [ ]:
#How to convert a series of date-strings to a timeseries?

In [ ]:
#How to get the day of month, week number, day of year and day of week from a series of date strings?

In [ ]:
#How to convert year-month string to dates corresponding to the 4th day of the month?

In [ ]:
#How to filter words that contain atleast 2 vowels from a series?

In [ ]:
#How to filter valid emails from a series?

In [ ]:
#How to get the mean of a series grouped by another series?

In [ ]:
#How to compute the euclidean distance between two series?

In [ ]:
#How to find all the local maxima (or peaks) in a numeric series?

In [ ]:
#How to replace missing spaces in a string with the least frequent character?

In [ ]:
#How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays) after that having random numbers as values?

In [ ]:
#How to fill an intermittent time series so all missing dates show up with values of previous non-missing date?

In [ ]:
#How to compute the autocorrelations of a numeric series?

In [ ]:
#How to import only every nth row from a csv file to create a dataframe?

In [ ]:
#How to change column values when importing csv to a dataframe?

In [ ]:
#How to create a dataframe with rows as strides from a given series?

In [ ]:
#How to import only specified columns from a csv file?

In [ ]:
#How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

In [ ]:
#How to extract the row and column number of a particular cell with given criterion?

In [ ]:
#How to rename a specific columns in a dataframe?

In [ ]:
#How to check if a dataframe has any missing values?

In [ ]:
#How to count the number of missing values in each column?

In [ ]:
#How to replace missing values of multiple numeric columns with the mean?

In [ ]:
#How to use apply function on existing columns with global variables as additional arguments?

In [ ]:
#How to select a specific column from a dataframe as a dataframe instead of a series?

In [ ]:
#How to change the order of columns of a dataframe?

In [ ]:
#How to set the number of rows and columns displayed in the output?

In [ ]:
#How to format or suppress scientific notations in a pandas dataframe?

In [ ]:
#How to format all the values in a dataframe as percentages?

In [ ]:
# How to filter every nth row in a dataframe?

In [ ]:
#How to create a primary key index by combining relevant columns?

In [ ]:
#How to get the row number of the nth largest value in a column?

In [ ]:
#How to find the position of the nth largest value greater than a given value?

In [ ]:
#How to get the last n rows of a dataframe with row sum > 100?

In [ ]:
#How to find and cap outliers from a series or dataframe column?

In [ ]:
#How to reshape a dataframe to the largest possible square after removing the negative values?

In [ ]:
#How to swap two rows of a dataframe?

In [ ]:
#How to reverse the rows of a dataframe?

In [ ]:
#How to create one-hot encodings of a categorical variable (dummy variables)?

In [ ]:
#Which column contains the highest number of row-wise maximum values?

In [ ]:
#How to create a new column that contains the row number of nearest column by euclidean distance?

In [ ]:
#How to know the maximum possible correlation value of each column against other columns?

In [ ]:
#How to create a column containing the minimum by maximum of each row?

In [ ]:
#How to create a column that contains the penultimate value in each row?

In [ ]:
#How to normalize all columns in a dataframe?

In [ ]:
#How to compute the correlation of each row with the suceeding row?

In [ ]:
#How to replace both the diagonals of dataframe with 0?

In [ ]:
#How to get the particular group of a groupby dataframe by key?

In [ ]:
#How to get the n’th largest value of a column when grouped by another column?

In [ ]:
#How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)?

In [ ]:
#How to join two dataframes by 2 columns so they have only the common rows?

In [ ]:
#How to get the positions where values of two columns match?

In [ ]:
#How to create lags and leads of a column in a dataframe?

In [ ]:
#How to get the frequency of unique values in the entire dataframe?

In [ ]:
#How to split a text column into two separate columns?